.OLDbar {
	//@include make-row();
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	@extend .align-items-center;

	&_between {
		@extend .justify-content-between;
	}

	> * {
		display: flex;
		flex-wrap: wrap;
		@extend .align-items-center;
	//
	//	@extend .col;
	//
	//	@include media-breakpoint-down(sm) {
	//		@include make-col(12);
	//	}
	}

	.h2, h2 {
		margin-bottom: 0;
	}

	&_news {
		border: 1px solid theme-color("secondary");
		@extend .align-items-stretch;
		.h2, h2 {
			background-color: theme-color("secondary");
			height: 4em;

			@include make-col-ready();

			@include media-breakpoint-up(sm) {
				@include make-col(3);
			}
		}
	}

	&_weather {

	}
}

.bar {

	@extend .align-items-center;

	> * {
		margin-bottom: 0;
		@extend .col-auto;
	}

	&_news {
		border: 1px solid theme-color("secondary");
		height: 6em;
	}
}