.footer {
	&-menu {
		@extend .bg-gray-light;
		@extend .navbar-expand-md;
	}
	&-line {
		@extend .bg-primary;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		color: $white;
		a {
			color: $white;
		}

		.text-right {
			text-align: left !important;
		}
	}
	&-description {
		@extend .bg-gray-light;

		p {
			margin: 2em 0;
			color: theme-color("secondary");
			font-size: $small-font-size;
		}
	}

	@include media-breakpoint-up(md) {
		&-menu {
			.navbar {
				padding-top: 3em;
			}
			@include first-nav-item-pd();
			.nav-item {
				a {
					&:after {
						content: "|";
						color: $body-color;
						padding-left: 1rem;
					}
				}
				&:last-child {
					a {
						&:after {
							content: "";
							padding-left: 0;
						}
					}
				}
			}
		}
		&-line {
			.text-right {
				text-align: right !important;
			}
		}
	}
}