.icon {

	vertical-align: middle;

	&:before,
	&:after {
		@extend .fa;
		margin-left: .5rem;
		margin-right: .5rem;
	}
	&:before {
		//margin-right: .5rem;
	}
	&:after {
		//margin-left: .5rem;
	}
	&_link {
		@extend .fa-chewron-right
	}
	&_cog {
		@extend .fa-cog;
	}
	&_cart {
		@extend .fa-shopping-cart;
		&-plus {
			@extend .fa-cart-plus;
		}
	}
	&_fast-tracking {
		@extend .fa-list;
		&:after {
			content: "\f217";
		}
	}
	&_pdf {
		@extend .fa-file-pdf-o;
	}
	&_phone {
		@extend .fa-phone;
	}
	&_power {
		@extend .fa-power-off;
	}
	&_puzzle {
		@extend .fa-puzzle-piece;
	}
	&_list {
		@extend .fa-list-alt;
	}
	&_my-list {
		@extend .fa-clone;
	}
	&_search {
		@extend .fa-search;
	}
	&_close {
		@extend .fa-times;
	}
	&_large {
		font-size: 1.6rem;
	}
	&_small {
		font-size: .6rem;
	}

	&.btn {
		&:before {
			margin-left: 0;
		}
		&:after {
			margin-right: 0;
		}
	}
}