.row {
	&-footer {
		&-menu {
			@include media-breakpoint-up(md) {
				@include make-row();
			}
		}
	}
	&-subnav {
		@include make-row();
		background-color: green;
		//width: 100%;
		//margin-right: 0;
		//margin-left: 0;
	}
}

.col {
	&-title {

		@include media-breakpoint-up(xs) {
			@include make-col-ready();
			@include make-col(12);
		}
		@include media-breakpoint-up(md) {
			// .col-auto
			flex: 0 0 auto;
			width: auto;
			max-width: none;
		}
		@include media-breakpoint-up(lg) {

		}
	}
	&-subnav {
		@include media-breakpoint-up(xs) {
			@include make-col-ready();
			@include make-col(12);
		}

		@include media-breakpoint-up(sm) {
			//@include make-col(4);
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
		}
	}
	&-slider {
		@include make-col-ready();
		@include media-breakpoint-up(xs) {
			@include make-col(12);
		}
		@include media-breakpoint-up(md) {
			@include make-col(11);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&-footer {
		&-line {
			@include make-col-ready();
			@include media-breakpoint-up(xs) {
				@include make-col(12);
			}
			@include media-breakpoint-up(md) {
				@include make-col(6);
			}
		}
	}
}