.link {
	position: relative;
	&:hover {
		text-decoration: none;
	}
	&__badge {
		position: relative;
	}
	&_white {
		color: $white;
		&:hover,
		&focus {
			color: $gray-200;
		}
	}
	&-icon {
		@extend .fa-angle-right;
		&:before {
			@extend .fa;
			margin-right: 6px;
		}
	}
	&__text {

	}
}

[class*="link_text-none-"] {
	&[class*="-xs"] {
		@include media-breakpoint-down(xs) {
			@include link-text-none();
		}
	}
	@each $breakpoint in map-keys($grid-breakpoints) {
		&[class*="-#{$breakpoint}"] {
			@include media-breakpoint-only(#{$breakpoint}) {
				@include link-text-none();
			}
		}
	}
	&[class*="-xl"] {
		@include media-breakpoint-up(xl) {
			@include link-text-none();
		}
	}
}