.slider {
	width: 100%;
	img {
		width: 100%;
	}

	&__bar {
		margin-left: 0;
		margin-right: 0;
	}

}

.slide {

	&__content {

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		//height: 380px;
	}
}