.text {
	&-over {
		&-ellipsis {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	&-tablet {
		&-up {
			&-only {
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
		}
	}
}