.header {
	font-size: 1.1rem;

	&-logo {
		&__img {
			height: 30px;
		}
		@include media-breakpoint-up(sm) {
		&__img {
			height: 100%;
		}}
	}

	&-user {


		border-top: 2px solid white;
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
			border-top: none;
			display: flex;
			align-items: center;
			&.collapse {
				//display: inherit;
			}
		}
	}

	&-login {
		border-bottom: 2px solid white;
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			border-bottom: none;
		}
	}

	[class*="link-icon"] {
		@include media-breakpoint-down(sm) {
			span,
			.text {
				display: none;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		.navbar {
			justify-content: flex-start;
			&-toggler {
				display: none;
			}
		}
	}
}

