.header {
	font-size: 1.1rem;
	@include media-breakpoint-only(md) {
		font-size: 1rem;
	}
	&-logo {
		&__img {
			height: 30px;
			@include media-breakpoint-up(sm) {
				height: 40px;
			}
			@include media-breakpoint-up(md) {
				height: 60px;
			}
			@include media-breakpoint-up(lg) {
				height: 100%;
			}
		}
	}
	@include media-breakpoint-up(sm) {
		.navbar {
			justify-content: flex-start;
			&-toggler {
				display: none;
			}
		}
	}
}