.header {
	font-size: 1.1rem;

	&-logo {
		&__img {
			height: 30px;
			@include media-breakpoint-up(sm) {
				height: 40px;
			}
			@include media-breakpoint-up(md) {
				height: 60px;
			}
			@include media-breakpoint-up(lg) {
				height: 100%;
			}
		}
	}

	&-user {

		border-top: 2px solid white;
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
			border-top: none;
			display: flex;
			align-items: center;
			&.collapse {
				//display: inherit;
			}
		}
	}

	&-login {
		border-bottom: 2px solid white;
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			border-bottom: none;
		}

		&__link {
			@include media-breakpoint-up(sm) {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				.icon {
					&:before {
						margin-right: 0;
						margin-left: .5rem;
					}
				}
			}
			@extend .link_icon-only_tablet;
		}
	}

	@include media-breakpoint-up(sm) {
		.navbar {
			justify-content: flex-start;
			&-toggler {
				display: none;
			}
		}
	}
}

