.container {
	&-header {
		&-meta,
		&-top,
		&-menu,
		&-search {
			@extend .container;
		}
	}
}

.row {
	&-header {
		&-menu {
			@include media-breakpoint-up(sm) {
				@include make-row();
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
		}
	}
}

.col {

	&-header {
		&-logo {
			@include media-breakpoint-up(xs) {
				@include make-col-ready();
				@include make-col(12);
			}
			@include media-breakpoint-up(sm) {
				// .col
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;

				margin-right: auto !important;
			}
		}

		&-user {
			@include media-breakpoint-up(xs) {
				@include make-col-ready();
				@include make-col(12);
			}
			@include media-breakpoint-up(sm) {
				// .col-auto
				flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
		}

		&-navbar {
			@include media-breakpoint-up(xs) {
				@include make-col-ready();
				@include make-col(12);
			}
			@include media-breakpoint-up(sm) {
				// .col
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;

				margin-right: auto !important;
			}
		}

		&-login {
			@include media-breakpoint-up(xs) {
				//display: block;
				@include make-col-ready();
				@include make-col(12);
			}
			@include media-breakpoint-up(sm) {
				// .col-auto
				flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
		}

		&-search {
			&-input {

			}
			&-advanced {

			}
		}

		&-meta {
			@include media-breakpoint-up(xs) {
				@include make-col-ready();
				@include make-col(12);
			}
			@include media-breakpoint-up(sm) {
				// .col
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;
			}
		}
	}
}