.header-login {
	border-bottom: 2px solid white;
	@include nav-links-mobil();
	@include media-breakpoint-up(sm) {
		display: flex;
		align-items: center;
		border-bottom: none;
	}
	&__flex {
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			.icon {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}