.header-menu {
	@extend .bg-yellow;
	@extend .navbar-expand-sm;
	border-bottom: 2px solid $white;
	.navbar {
		padding-top: 0;
		padding-bottom: 0;
		&-nav {
			.nav-link {
				@include media-breakpoint-only(sm) {
					padding-left: .8rem;
					padding-right: .8rem;
				}
				@include media-breakpoint-only(md) {
					padding-left: .5rem;
					padding-right: .5rem;
				}
			}
		}
	}
	.nav-item {
		@include nav-links-mobil();
		@include media-breakpoint-up(sm) {
			border-left: 2px solid white;
			text-transform: uppercase;
			&:last-child {
				border-right: 2px solid white;
			}
		}
	}
	.dropdown-menu {
		@include media-breakpoint-down(xs) {
			font-size: 1rem;
			color: $brand-primary;
			background-color: $white;
			border: none;
			border-radius: 0;
		}
	}
}