.header-search {
	position: relative;
	z-index: $z-index-wide-2;
	@extend .bg-primary;
	@include media-breakpoint-up(sm) {
		display: flex;
		align-items: center;
	}
	&-advanced {
		display: flex;
		align-items: center;
		&__flex {
			@include media-breakpoint-up(sm) {
				display: flex;
				align-items: center;
			}
		}
	}
	// Bootstrap
	.input-group {
		padding: .5em 0;
		&-btn {
			> .btn {
				border-left: none;
				color: $link-color;
			}
			&:not(:first-child) {
				> .btn {
					&:hover,
					&:focus {
						//background-color: $input-bg;
						color: $link-hover-color;
						//border-color: $input-border-color;
						cursor: pointer;
					}
				}
			}
		}
	}
	// Bootstrap
	.form-control {
		border-right: none;
		&:focus {
			+ .input-group-btn {
				> .btn {
					border-color: #2b9eff;
				}
			}
		}
	}
}