@mixin first-nav-item-pd($distance: 0) {
	.nav-item {
		&:first-child {
			a {
				padding-left: $distance;
			}
		}
	}
}

@mixin link-text-none() {
	span,
	.text {
		display: none;
	}
	.icon {
		&:before,
		&:after {
			margin: 0;
		}
	}
}