.bar {
	@extend .align-items-stretch;

	> * {
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		@extend .align-items-center;

		&.right {
			justify-content: flex-end;
		}
	}

	&-news {
		border: 1px solid theme-color("secondary");
		min-height: 6em;

		> .h2, h2 {
			background-color: theme-color("secondary");
			color: $white;
		}

		> p {
			background-color: indianred;
		}
	}

	&-weather {
		min-height: 7em;
		background-color: #001f3f;
		> .h2, h2 {
			color: $white;
		}
		> p {
			background-color: indianred;
		}
	}
}