.header {
	background-color: whitesmoke;
	.container;

	.btstrp_overwrites {
		&.navbar {

			// mobiler Menü-Button
			&.navbar-default {
				.navbar-toggle {
					border-color: transparent;
					color:red;
					&:focus,
					&:hover {
						background-color: transparent;
					}
				}
			}

			// menuitems position
			@media (min-width: @grid-float-breakpoint) {
				.navbar-collapse {
					width: 100%;
				}
			}

			// LOGO
			.navbar-brand {
				height: auto;
				padding: 0;
				img { height: 52px }
				@media (min-width: @grid-float-breakpoint) {
					padding: @navbar-padding-vertical @navbar-padding-horizontal;
					img { height: 60px }
				}
			}
		}
	}

	@media (min-width: @grid-float-breakpoint) {
		.navbar__inner_flex {
			width: 100%;
			display: flex;
			//align-items: center;
			align-items: flex-end;
		}
	}
}

